body{
    font-family: 'Poppins', sans-serif;
    
}


h1{
    font-size: 40px;
    margin: 0;
    color: gray;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    width: 100%;
    
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
    margin-left: 5%;
    padding-top: 50px;
}
.half-width p {
    padding-bottom: 20px;
}

.half-width-photo img{
    width: 500px;
    padding-left: 0%;
    /* padding-right: 80%;
    margin-right: 70%; */
}

.intro-image img {
  height: 450px;
  width: 300px;
  margin-left: 50%;
  overflow: hidden;
  margin-top: 20px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.female{
    height: 500px;
    width: 500px;
}

.second-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about{
    margin-left: 30%;
}
.about p {
    padding-bottom: 20px;
}
.about h1 {
    padding-top: 50px;
}

.recipies{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}

.recipies-item{
    float: left;
    width: 30%;
    height: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
  }


.flexible-container{
    display: flex;
}

/* contact section */

.contact-widgets{
    text-align: center;
    background-color: #F5EAE3;
    margin-bottom: 0 !important;
    padding: 30px 0;
}
.openning-hour{
    width: 30%;
    display: block;
}
.about-us{
    width: 30%;
    display: block;
    margin: auto;
}
.location{
    width: 30%;
    display: block;
}

footer{
    width: 100%;
    text-align: center;
    color: gray;
    background-color: #0B0D17;
    padding: 15px 0;
}
  